/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
    margin-left: 40px;
    color: black;
    font-size: 25px;
}

.toolbar {
    width: 100%;
    color: white;
    background-color: white;
    height: 60px;
    padding: 20px;
    border-bottom: 2px inset;
    display: flex;
    margin: 0px;
}

.icon {
    margin-left: 40px;
    background: url('/images/icon.jpg') no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.cuisine-select {
    margin-left: 100px;
}

body {
    background-color: #FAFAFA;
}


.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    margin: 33px;
    background-color: #fff;
}

.cusine-root {
    display: flex;
    flexWrap: wrap;
}

.cusine-formControl {
    minWidth: 300;
    margin: 20px;
}

.cusine-selectEmpty {
    marginTop: 10px;
}

.tenBis-filter {
    margin-left: 50px;
}

.margin-left {
    margin-left: 70px;
}

.container {
    flex-direction: row ;
    display: flex;
}

.grid-root {
    display: flex;
    flexWrap: wrap;
    justifyContent: space-around;
    overflow:  hidden;
    backgroundColor: white;
    margin-top: 30px;
}

.gridList {
    width: 500px;
    height: 450px;
}

.gridIcon {
    color: white;
}